{% extends 'base.html' %}

{% load static %}

{% block title %}About - Driving School{% endblock %}

{% block about %}active-menu{% endblock %}

{% block body %}

	<!-- Title Page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92"
		style="background-image: url('{% static 'webapp1/' %}images/bg-02.jpg');">
		<h2 class="ltext-105 cl0 txt-center">
			About
		</h2>
	</section>

	<!-- Content Page -->
	<section class="bg0 p-t-75 p-b-120">
		<div class="container">
			<div class="row p-b-148">
				<div class="col-md-7 col-lg-8">
					<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Driving School
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Welcome to Driving School.  Whether it is your first time learning to drive or you have already had lessons 
							before, joining 828 Driving School will put you even closer to achieving your full UK driving license. Driving 
							School will offer a professional and friendly service which will give you a more relaxed environment while in a 
							lesson. This is what we feel will promote a positive attitude as well as offering a relaxed, positive and 
							encouraging environment to learn.
							Here at Driving School, we aspire to make each and every lesson unique to every pupil. We also ensure that all 
							pupils are relaxed and comfortable when they are learning to drive with us. Every lesson is well structured and 
							planned in advance to suit your level of driving. Nervous pupils are welcome and we take great pride in helping 
							them overcome their driving fears.
						</p>
					</div>
				</div>

				<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
					<div class="how-bor1 ">
						<div class="hov-img0">
							<img src="{% static 'webapp1/' %}images/about-01.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
					<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
						<h3 class="mtext-111 cl2 p-b-16">
							Our Cars
						</h3>

						<p class="stext-113 cl6 p-b-26">
							Our cars comes fully equipped with dual controls, air conditioning and many more features.
							All our cars has every comfort that you will need to learn in a happy and relaxing atmosphere.

						</p>

						<div class="bor16 p-l-29 p-b-9 m-t-22">
							<p class="stext-114 cl6 p-r-40 p-b-11">
								Everything in life is somewhere else, and you get there in a car. 
							</p>

							<span class="stext-111 cl8">
								- E. B. White 
							</span>
						</div>
					</div>
				</div>

				<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
					<div class="how-bor2">
						<div class="hov-img0">
							<img src="{% static 'webapp1/' %}images/about-02.jpg" alt="IMG">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Back to top BTN -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

{% endblock %}