{% extends 'base.html' %}

{% load static %}

{% block title %}828 Driving School - Home{% endblock %}
{% block index %}active-menu{% endblock %}

{% block body %}

{% if messages %}
{% for message in messages %}

<div class="container">
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<h5 class="text-center"> {{message}}</h5>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

{% endfor %}
{% endif %}


<!-- Slider -->
<section class="section-slide">
	<div class="wrap-slick1">
		<div class="slick1">
			<div class="item-slick1" style="background-image: url({% static 'webapp1/images/slides02.jpg' %});">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
							<span class="ltext-101 cl2 respon2" style="color:red;">
								<b>Get 30% Off orders over £100!!!</b>
							</span>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
							<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1" style="color:red;">
								30% Off
							</h2>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
							<a href="" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								See Lessons
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick1" style="background-image: url({% static 'webapp1/images/slides01.jpg' %});">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
							<span class="ltext-101 cl2 respon2" style="color:yellow;">
								<b>10% Discount For Every Lesson!!</b>
							</span>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
							<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1" style="color:yellow;">
								10% Discount
							</h2>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
							<a href="" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								See Lessons
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick1" style="background-image: url({% static 'webapp1/images/slides03.jpg' %});">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
							<span class="ltext-101 cl2 respon2">
								828 Driving School
							</span>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
							<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
								New Lessons
							</h2>
						</div>

						<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
							<a href="" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								See Lessons
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
	<div class="container">
		<div class="p-b-10">
			<h3 class="ltext-103 cl5">
				Lesson Overview
			</h3>
		</div>

		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
					All Lessons
				</button>

				{% for all_cat in all_Categories %}

				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
					data-filter=".{{all_cat.category_name|cut:" " }}">
					{{all_cat.category_name}}
				</button>

				{% endfor %}
			</div>

			<div class="flex-w flex-c-m m-tb-10">

				<!--<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">-->
				<!--<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>-->
				<!--<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>-->
				<!--Filter-->
				<!--</div>-->

				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>

			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<form method="GET" action="{% url 'product_search' %}">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>
						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search"
							placeholder="Search">
					</div>
				</form>
			</div>
		</div>

		<div class="row isotope-grid">
			{% for all_prod in all_products %}
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{all_prod.category.category_name|cut:" "}}">
				<!-- Block2 -->
				<div class="block2">
					<div class="block2-pic hov-img0">
						<img src="/media/{{all_prod.image}}" alt="IMG-PRODUCT" height="300">

						<!--<a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">-->
						<!--Quick View-->
						<!--</a>-->

						<a href="{% url 'product_detail' all_prod.id %}"
							class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
							Details View
						</a>
					</div>

					<div class="block2-txt flex-w flex-t p-t-14">
						<div class="block2-txt-child1 flex-col-l ">
							<a href="{% url 'product_detail' all_prod.id %}"
								class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
								{{all_prod.product_name}}
							</a>

							<span class="stext-105 cl3">
								£{{all_prod.product_price}}
							</span>
						</div>
					</div>
				</div>
			</div>

			{% endfor %}

		</div>

		<!-- Load more -->

	</div>
</section>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
	<span class="symbol-btn-back-to-top">
		<i class="zmdi zmdi-chevron-up"></i>
	</span>
</div>

{% endblock %}