{% extends 'base.html' %}
{% load static %}

{% block title %}{{get_posted_jobs_id.job_title}}{% endblock %}

{% block body %}

</br>

{% if messages %}
{% for message in messages %}

<div class="container">
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<h5 class="text-center"> {{message}}</h5>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

{% endfor %}
{% endif %}

</br>
</br>
<div class="container">
	<h5>
		<p class="text-center" style="color:#07889E;">Order ID:
			{{get_the_order.order_id}}</p>

	</h5>
	<span class="badge badge-info badge-pill">
		<h7>Date: {{get_the_order.order_date}}</h7>
	</span>

	{% if get_the_order.Completed_order %}
	<button type="button" class="btn btn-success float-right" disabled>
		Completed
	</button>

	{% elif get_the_order.customer_cancel_order %}

	<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#exampleModal" disabled>
		You Cancelled
	</button>

	{% elif get_the_order.instructor_cancel_order %}

	<button type="button" class="btn btn-danger float-right" disabled>
		Instructor Cancelled
	</button>

	{% else %}

	<!-- Button trigger modal -->
	<button type="button" class="btn btn-danger float-right" data-toggle="modal" data-target="#exampleModal">
		Cancel The Order
	</button>

	<!-- Modal -->
	<div class="modal fade mt-5 pt-5" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">
					If you cancel this order within 24 hours of purchase, you will get your money back and your
					lesson will be cancelled.
					<br>
					<br>
					Are you sure you want to cancel this order?
				</div>

				<div class="modal-footer">
					<form action="{% url 'customer_canceled_order' %}" method="POST">{% csrf_token %}
						<input type="hidden" name="order_id" value="{{get_the_order.id}}">
						<button type="submit" class="btn btn-danger">Yes</button>
					</form>

					<button type="button" class="btn btn-success" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<br>
	<br>
	<hr>
</div>

<ul class="list-group container">
	<li class="list-group-item"><b>Instructor :</b> {{get_the_order.Instructor}}</li>
	<li class="list-group-item"><b>Lesson :</b> {{get_the_order.Lesson}}</li>
	<li class="list-group-item"><b>Price :</b> £{{get_the_order.Lesson_price}}</li>
	<li class="list-group-item"><b>Address :</b> {{update_info.Address}}</li>
	<li class="list-group-item"><b>Postal Code :</b> {{update_info.Postcode}}</li>
	<li class="list-group-item"><b>Phone :</b> {{get_the_order.phone}}</li>
	<li class="list-group-item"><b>Email :</b> {{get_the_order.email}}</li>
</ul>

</br>
</br>
</br>
{% endblock %}