{% extends 'base.html' %}
{% load static %}

{% block title %}{{get_posted_jobs_id.job_title}}{% endblock %}

{% block body %}

</br>

{% if messages %}
{% for message in messages %}

<div class="container">
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<h5 class="text-center"> {{message}}</h5>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
</div>

{% endfor %}
{% endif %}

</br>
</br>
<div class="container">
	<h5>
		<p class="text-center" style="color:#07889E;">Order ID:
			{{get_the_order.order_id}}</p>

	</h5><span class="badge badge-info badge-pill">
		<h7>Date: {{get_the_order.order_date}}</h7>
	</span>


	<br>
	<br>
	<hr>
</div>

<ul class="list-group container">
	<li class="list-group-item"><b>Instructor :</b> {{get_the_order.Instructor}}</li>
	<li class="list-group-item"><b>Lesson :</b> {{get_the_order.Lesson}}</li>
	<li class="list-group-item"><b>Price :</b> £{{get_the_order.Lesson_price}}</li>
	<li class="list-group-item"><b>Address :</b> {{get_the_order.address}}</li>
	<li class="list-group-item"><b>Postal Code :</b> {{get_the_order.zip}}</li>
	<li class="list-group-item"><b>Phone :</b> {{get_the_order.phone}}</li>
	<li class="list-group-item"><b>Email :</b> {{get_the_order.email}}</li>
</ul>

</br>
</br>
</br>
{% endblock %}