{% extends 'base.html' %}

{% load static %}

{% block title %}Product Details - Driving School{% endblock %}

{% block body %}

<body class="animsition">
	<!-- Breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="{% url 'index' %}" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				{{get_product.product_name}}
			</span>
		</div>
	</div>


	<!-- Product Detail -->
	<section class="sec-product-detail bg0 p-t-65 p-b-60">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-7 p-b-30">
					<div class="p-l-25 p-r-30 p-lr-0-lg">
						<div class="wrap-slick3 flex-sb flex-w">
							<div class="wrap-slick3-dots"></div>
							<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

							<div class="slick3 gallery-lb">
								<div class="item-slick3" data-thumb="{{ MEDIA_URL }}{{get_product.image}}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ MEDIA_URL }}{{get_product.image}}" alt="IMG-PRODUCT" height="350">

										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="{{ MEDIA_URL }}{{get_product.image}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>

								{% if get_product.image2 %}
								<div class="item-slick3" data-thumb="{{ MEDIA_URL }}{{get_product.image2}}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ MEDIA_URL }}{{get_product.image2}}" alt="IMG-PRODUCT" height="350">
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="{{ MEDIA_URL }}{{get_product.image2}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								{% endif %}

								{% if get_product.image3 %}
								<div class="item-slick3" data-thumb="{{ MEDIA_URL }}{{get_product.image3}}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ MEDIA_URL }}{{get_product.image3}}" alt="IMG-PRODUCT" height="350">
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="{{ MEDIA_URL }}{{get_product.image3}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								{% endif %}

								{% if get_product.image4 %}
								<div class="item-slick3" data-thumb="{{ MEDIA_URL }}{{get_product.image4}}">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ MEDIA_URL }}{{get_product.image4}}" alt="IMG-PRODUCT" height="350">
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="{{ MEDIA_URL }}{{get_product.image4}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								{% endif %}

								{% if get_product.image5 %}
								<div class="item-slick3" data-thumb="{{ MEDIA_URL }}{{get_product.image5}}" height="350">
									<div class="wrap-pic-w pos-relative">
										<img src="{{ MEDIA_URL }}{{get_product.image5}}" alt="IMG-PRODUCT">
										<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
											href="{{ MEDIA_URL }}{{get_product.image5}}">
											<i class="fa fa-expand"></i>
										</a>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-5 p-b-30">
					<div class="p-r-50 p-t-5 p-lr-0-lg">
						<h4 class="mtext-105 cl2 js-name-detail p-b-14">
							<h2 id="nameproduct{{get_product.id}}">{{get_product.product_name}}</h2>
						</h4>
						
						<input type="hidden" value="{{get_product.Intructor}}" id="instructor_id">
						<input type="hidden" value="{{get_product.id}}" id="product_id">

						<span class="mtext-106 cl2">
							£<span id="priceproduct{{get_product.id}}">
								{{get_product.product_price}}
							</span>
						</span>

						<p class="stext-102 cl3 p-t-23">
							{{get_product.description}}
						</p>

						<div class="flex-w flex-r-m p-b-10 mt-5">
							<div class="size-204 flex-w flex-m respon6-next" id="changecolorproduct{{get_product.id}}">
								<div>
									<input class="mtext-104 cl3 txt-center num-product" id="qty_product" type="hidden"
										name="num-product" value="1">
								</div>

								<button
									class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 divproduct">
									<span id="divproduct{{get_product.id}}" class="">
										<a id="product{{get_product.id}}" class="btn_1 product_cart">Add to cart</a>
									</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		

		<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
			<span class="stext-107 cl6 p-lr-25"></span>

			<span class="stext-107 cl6 p-lr-25"></span>
		</div>
	</section>

	<!-- Related Products -->
	<section class="sec-relate-product bg0 p-t-45 p-b-105">
		<div class="container">
			<div class="p-b-45">
				<h3 class="ltext-106 cl5 txt-center">
					Related Products
				</h3>
			</div>

			<!-- Slide2 -->
			<div class="wrap-slick2">
				<div class="slick2">

					{% for i in all_pro_cat %}
					<div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-pic hov-img0">
								<img src="{{ MEDIA_URL }}{{i.image}}" alt="IMG-PRODUCT" height="300">

								<a href="{% url 'product_detail' i.id %}"
									class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
									Details View
								</a>
							</div>

							<div class="block2-txt flex-w flex-t p-t-14">
								<div class="block2-txt-child1 flex-col-l ">
									<a href="{% url 'product_detail' i.id %}"
										class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
										{{i.product_name}}
									</a>

									<span class="stext-105 cl3">
										£{{i.product_price}}
									</span>
								</div>

							</div>
						</div>
					</div>

					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	<!-- Back to top BTN -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	{% block js %}
	<!-- Cart -->
	<script>
		console.log('ok')

		picture_product = '{{ MEDIA_URL }}{{get_product.image}}';
		console.log(picture_product)

		// if the add to cart button is clicked, add/increament the item

		$('.product_cart').click({
			abc: "picture_product"
		}, function () {
			// $('.divproduct').on('click', 'button.product_cart', function(){
			console.log('clicked now');

			console.log("picture : ");
			console.log(picture_product);

			// console.log(product_cart)
			var idstr = this.id.toString();
			console.log("id...." + idstr);


			if (product_cart[idstr] != undefined) {
				console.log('old')
				qty = product_cart[idstr][0] + 1;
				console.log(product_cart[idstr]);
			} else {
				console.log(idstr)
				// qty = 1;

				var qty = document.getElementById("qty_product").value;
				var instructor_id = document.getElementById("instructor_id").value;
				var product_id = document.getElementById("product_id").value;


				// qty = document.getElementById('qty_product').value;
				// document.getElementById("myText").value = "Johnny Bravo";
				console.log(qty)


				name = document.getElementById('name' + idstr).innerHTML;
				price = document.getElementById('price' + idstr).innerHTML;



				product_cart[idstr] = [parseInt(qty), name, parseInt(price), picture_product, instructor_id, parseInt(
					product_id)];
				console.log(product_cart[idstr]);
				console.log('new')
			}
			// console.log("before update");
			// console.log(product_cart);

			b = `<button class="btn btn-danger"> Added to Cart</button>`

			document.getElementById('changecolor' + idstr).innerHTML = b;

			updateCart(product_cart, idstr);

		});


		//update the cart
		item_id = 'product' + '{{get_product.id}}';

		updateaddtoCart(product_cart, item_id);

		function updateaddtoCart(product_cart, item) {
			console.log("items..." + item);
			console.log("carts..." + product_cart);
			pro = product_cart[item][1];
			console.log(pro);

			if (product_cart[item][1]) {
				console.log('old')
				b = `<button class="btn btn-danger mt-4 pl-4 pr-4"> Added to Cart</button>`
				document.getElementById('changecolor' + item).innerHTML = b;
			}
		}
	</script>
	{% endblock %}


</body>

{% endblock %}