{% extends 'base.html' %}

{% block body %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h3 class="text-center"> Well done {{first_name}} {{last_name}}!!</h3><br>
        <h5 class="text-center">  Your account has been activated! Now login to your account.</h5><br>
        <h6 class="text-center">Thank you for creating an account with Driving School.</h6>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

{% endblock %}