{% extends 'base.html' %}

{% block body %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <h3 class="text-center"> Well done {{first_name}} {{last_name}}!!</h3><br>
        <h5 class="text-center">  Your Account has been activated!! Now, log into your account and enjoy our service! </h5><br>
        <h6 class="text-center">Thanks for creating an account at 828 Driving School.</h6>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

{% endblock %}